
/***************** common to all pages, moved to this stylesheet ********************/

/* default font size for all elements */
* {font-size:8pt;}

body {
	font-family: verdana,arial,serif;
	font-weight: normal;
	}

/* most other link color scheme blue/light blue */
a:link,a:visited {
  text-decoration: none;
  color: #40529b; /* blue */
  /* color: #DEE7C6; pale yellow */ 
}
a:hover,a:active {
  text-decoration: underline;
  /* color: #3f5bcd; gold */
  color: #8391cd;      /*dark blue */
  /*color: #8391cd; */
}

table {border-collapse:collapse;}
th {  font-size: 10pt;  text-align: left;  background-color: #999797;  }

.infoBox { border: 1px solid #AAA;  padding: 2px; font-size:8pt; margin-bottom:3px;}
.linkBox { padding: 3px; font-size:8pt; border: 1px solid #AAA;}
.infoBoxTitle {  font-size: 10pt;  font-weight: bold;  }
.infoBoxTitle {   font-size: 10pt;  font-weight: bold; }
.infoBoxBadProcStatus { color: red; }
a.homepageURL:hover {  color: red; }


/* feedback messages */
.errorMessage {  text-align: center;  color: red;  font-weight: bold;  font-size: 12pt; }
.errorDescription {  text-align: center;  font-weight: bold;  font-size: 12pt; }
.warningMessage {  text-align: center;  color: red;  font-weight: bold;  font-size: 10pt; }
.infoMessage {  text-align: center;  color: red;  font-weight: bold; }

/* nav and option boxes on several pages */ 
.navBoxTitle {  font-size: 10pt;  font-weight: bold; }
.navBoxItem {  font-size: 8pt;  font-weight: bold;  color: red; }
.navBoxDate {  font-size: 8pt;  font-weight: bold; }
.navBoxFile {  font-size: 8pt;  font-weight: bold;  text-align: center; }
/* option boxes */
.optBox { font-size: 10pt;  font-weight: bold; }
.optBoxItem {  font-size: 8pt;  font-weight: bold;  color: red; }
.optBoxTitle {  font-weight: bold;  font-size: 10pt; }
.optBoxValue {  font-size: 8pt;  font-style: italic; }



/* *********navbar frame specific styles ********************* */

/* navbar */
body.navbar {
	background-color: black;
	color: white; 
	}
/* navbar links
body.navbar a:link,a:visited {
  text-decoration: none;
  color: #DEE7C6;  pale yellow 
}
body.navbar a:hover,a:active {
 text-decoration: underline;
  color: #3f5bcd; gold 
}
*/
.navbarlogo {
	margin: 0 0 10px 0;
	}

.navsection {
	margin: 5px 0 10px 0;
	/*color: #AAA; */
	}
	
.navsectiontitle {
	font-size: 9pt;
	font-weight: bold;
	border:1px solid #AAA;
	padding: 2px;
	text-align:center;
	}

div.navsectionlinks {
	margin: 3px 0 0 0;
	}

ul.navsectionlinks {
	margin: 0px;
	padding: 0px;
	list-style: none;
	}

ul.navsectionlinks li {
	}

/* main nav links */
ul.navsectionlinks li a:link,ul.navsectionlinks li a:visited {
	/*color: #DEE7C6; */ 
	font-weight: bold;
	font-size: 8pt;
	text-decoration: none;	
	padding: 0 0 0 15px;
	background: transparent url(../images/greendot.gif) no-repeat scroll 0 0; 
  	color: #DEE7C6; /* pale yellow */ 
	}
ul.navsectionlinks li a:hover ,ul.navsectionlinks li a:active{
	/*color: #8391cd;*/
	color:#FFC47F;   /*    this one was working before   */
	background: transparent url(../images/orangedot.gif) no-repeat scroll 0 0;
  /*	color: #3f5bcd;  gold */
	}	


ul.navsectionlinks li ul {
	margin: 0px;
	padding: 0 0 0 30px;
	}

ul.navsectionlinks li ul li {
	}


/* sub links on main nav */
ul.navsectionlinks li ul li a:link,ul.navsectionlinks li ul li a:visited  {
/*	color: #DEE7C6;  */
	background: none; 
	padding: 0;
	font-weight: normal;
  	color: #DEE7C6; /* pale yellow */ 
	}

ul.navsectionlinks li ul li a:hover,ul.navsectionlinks li ul li a:active  {
	background: none;  
	color:#FFC47F; 
	}

ul.navsectionlinks li ul li ul {
	margin: 0px;
	padding: 0 0 0 15px;
	}


.navbarsearch {
	margin: 5px 0 0 0;
	}

.navbarsearch fieldset {
	border: none;
	}

.navbarsearch fieldset legend {
	font-size: 8pt;
	}

.navbarsearch input{
/*	font-size: 8pt; */
	color: black;
	background-color: white;
	}



	

/* **************** main page *********************** */
#splashpage{
	text-align: center;
	}
	
#mainbrandsplash{
	font-size: 12pt;
	font-weight: bold;
	margin: 0 0 35px 0;
	}

#maincopy{
	margin: 0 0 15px 0;
	}
	
#currentversioninfo{
	font-size: 12pt;
	}
#currentversioninfo .product{
	font-size: 14pt;
	font-weight: bold;
	}
#currentversioninfo .version{
	font-size: 14pt;
	font-weight: bold;
	}
#currentversioninfo .releasedate{
	font-size: 11pt;
	margin: 5px 0 0 0;
	}
#currentversioninfo .checkforupdates{
	font-size: 11pt;
	font-weight: bold;
	}
#currentversioninfo .whatsnew{
	font-size: 11pt;
	font-weight: bold;
	margin: 50px 0 0 0;
	}

#updateversioninfo{
	margin: 15px auto 35px auto;
	width: 400px;
	}
.updatechecksdisabled{
	background-color: #FF9F9F;
	border: 1px solid red;
	padding: 10px;
	}
.updatechecksdisabled div.warningmessage{
	font-weight: bold;
	}
#updateversioninfo div.submessage{
	clear: left;
	}
.updateavailable{
	background-color: #9FD4FF;
	border: 1px solid blue;
	padding: 10px;
	}
.updateavailable div.updatemessage{
	font-size: 12pt;
	font-weight: bold;
	}
	
#splashpage #mainfooter{
	/*margin: 100px 0 0 0;*/
	clear: both;
	font-size: 8pt;
	}
#splashpage #mainfooter .disclaimer{
	/*width: 80%;*/
	margin: auto;
	}
#splashpage #mainfooter .logos{
	margin: 15px 0 0 0;
	}


a img {
	border: none;
	}

#splashboxes {

	/*border: 1px solid blue;*/
	clear:both;
	width: 800px; 
	height:300px; 
	margin-left: auto;
	margin-right:auto; 
	line-height:1.2em; /* added for better X-browser/OS viewing */

	}
#topsplashbox {
	height:150px;
	}
#bottomsplashbox { 
	height:150px;
	}

.splashbox {
	padding: 5px;
	margin: 5px;
	border: 1px solid #AAAAAA;
	float: left;
	text-align: left;
	width:375px;
	}

.splashbox h2{
	margin: 0px;
	font-size: 12pt;
	}
.splashbox ul{
    margin: 0;
    padding: 5px 5px 5px 15px;
	}
.splashbox ul li{
	clear: both;
	}
#splashbox1 {
	}
#splashbox2 {
	}
