
.extinfo { font-family: arial,serif;  background-color: white;  color: black;  font-size: 10pt; }

.errorMessage { font-family: arial,serif;  text-align: center;  color: red;  font-weight: bold;  font-size: 12pt; }
.errorDescription { font-family: arial,serif;  text-align: center;  font-weight: bold;  font-size: 12pt; }
.warningMessage { font-family: arial,serif;  text-align: center;  color: red;  font-weight: bold;  font-size: 10pt; }

.infoBox { font-family: arial,serif;  font-size: 8pt;  background-color: #C4C2C2;  padding: 2; }
.infoBoxTitle { font-family: arial,serif;  font-size: 10pt;  font-weight: bold; }
.infoBoxBadProcStatus { font-family: arial,serif;  color: red; }
A.homepageURL:Hover { font-family: arial,serif;  color: red; }

.linkBox { font-family: arial,serif;  font-size: 8pt;  background-color: #DBDBDB;  padding: 1; }

DIV.dataTitle { font-family: arial,serif;  text-align: center;  font-weight: bold;  font-size: 12pt; }
DIV.data { font-family: arial,serif;  text-align: center;  font-size: 12pt; }

DIV.perfTypeTitle { font-family: arial,serif;  text-align: right;  font-weight: bold;  font-size: 10pt; }

TABLE.data { font-family: arial,serif;  font-size: 10pt;  background-color: white;  padding: 2; }
TH.data { font-family: arial,serif;  font-size: 10pt;  background-color: white;  text-align: left;  background-color: #999797;  color: #DCE5C1; }
.dataOdd { font-family: arial,serif;  font-size: 10pt;  background-color: #DBDBDB; }
.dataEven { font-family: arial,serif;  font-size: 10pt;  background-color: #C4C2C2; }

.optionBoxTitle { font-family: arial,serif;  text-align: center;  font-weight: bold;  font-size: 10pt; }
.optionBox { font-family: arial,serif;  font-size: 10pt;  background-color: #DBDBDB;  padding: 2; }

.commandTitle { font-family: arial,serif;  text-align: center;  font-weight: bold;  font-size: 12pt; }

TABLE.command { font-family: arial,serif;  font-size: 10pt;  background-color: #DBDBDB; padding: 3; }
.command { font-family: arial,serif;  font-size: 10pt; padding: 2; }

.commentTitle { font-family: arial,serif;  text-align: center;  font-weight: bold;  font-size: 12pt; }
DIV.commentNav { font-family: arial,serif;  font-size: 10pt;  text-align: center; }
A.commentNav { font-family: arial,serif;  font-size: 10pt; }

TABLE.comment { font-family: arial,serif;  font-size: 10pt;  background-color: white;  padding: 2; }
TH.comment { font-family: arial,serif;  font-size: 10pt;  background-color: white;  text-align: left;  background-color: #999797;  color: #DCE5C1; }
.commentOdd { font-family: arial,serif;  font-size: 9pt;  background-color: #DBDBDB; }
.commentEven { font-family: arial,serif;  font-size: 9pt;  background-color: #C4C2C2; }
DIV.comment,A.comment { font-family: arial,serif;  font-size: 10pt;  background-color: white;  text-align: center; }

.downtimeTitle { font-family: arial,serif;  text-align: center;  font-weight: bold;  font-size: 12pt; }
DIV.downtimeNav { font-family: arial,serif;  font-size: 10pt;  text-align: center; }
A.downtimeNav { font-family: arial,serif;  font-size: 10pt; }

TABLE.downtime { font-family: arial,serif;  font-size: 10pt;  background-color: white;  padding: 2; }
TH.downtime { font-family: arial,serif;  font-size: 10pt;  background-color: white;  text-align: left;  background-color: #999797;  color: #DCE5C1; }
.downtimeOdd { font-family: arial,serif;  font-size: 9pt;  background-color: #DBDBDB; }
.downtimeEven { font-family: arial,serif;  font-size: 9pt;  background-color: #C4C2C2; }

.notificationsENABLED { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #33FF00;  font-weight: bold; }
.notificationsDISABLED { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #F83838;  font-weight: bold; }

.checksENABLED { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #33FF00;  font-weight: bold; }
.checksDISABLED { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #F83838;  font-weight: bold; }

.eventhandlersENABLED { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #33FF00;  font-weight: bold; }
.eventhandlersDISABLED { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #F83838;  font-weight: bold; }

.flapdetectionENABLED { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #33FF00;  font-weight: bold; }
.flapdetectionDISABLED { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #F83838;  font-weight: bold; }

.notflapping { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #33FF00;  font-weight: bold; float: left; }
.flapping { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #F83838;  font-weight: bold; float: left; }

.downtimeACTIVE { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #F83838;  font-weight: bold; float: left; }
.downtimeINACTIVE { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #33FF00;  font-weight: bold; float: left; }

.processOK { font-family: arial,serif;  font-size: 10pt;  background-color: #33FF00;  font-weight: bold; }
.processUNKNOWN { font-family: arial,serif;  font-size: 10pt;  background-color: #FF9900;  font-weight: bold; }
.processWARNING { font-family: arial,serif;  font-size: 10pt;  background-color: #FFFF00;  font-weight: bold; }
.processCRITICAL { font-family: arial,serif;  font-size: 10pt;  background-color: #F83838;  font-weight: bold; }

.modeACTIVE { font-family: arial,serif;  font-size: 10pt;  background-color: #33FF00;  font-weight: bold; }
.modeSTANDBY { font-family: arial,serif;  font-size: 10pt;  background-color: #FFFF00;  font-weight: bold; }

.hostUP { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #33FF00;  font-weight: bold; float: left; }
.hostDOWN { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #F83838;  font-weight: bold; float: left; }
.hostUNREACHABLE { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #F83838;  font-weight: bold; float: left; }

.serviceOK { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #33FF00;  font-weight: bold; float: left; }
.serviceWARNING { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #FFFF00;  font-weight: bold; float: left; }
.serviceUNKNOWN { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #FF9900;  font-weight: bold; float: left; }
.serviceCRITICAL { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #F83838;  font-weight: bold; float: left; }

.commandPanel { font-family: arial,serif;  background-color: white; }
.commentPanel { font-family: arial,serif;  background-color: white; }

.stateInfoPanel { font-family: arial,serif;  background-color: white; }
.stateStatisticsPanel { font-family: arial,serif;  background-color: white; }
.stateInfoTable1 { font-family: arial,serif;  font-size: 10pt;  background-color: #DBDBDB; }
.stateInfoTable2 { font-family: arial,serif;  font-size: 10pt;  background-color: #C4C2C2; }

.dataVar { font-family: arial,serif;  font-size: 10pt; }
.dataVal { font-family: arial,serif;  font-size: 10pt; }

.queueTitle { font-family: arial,serif;  text-align: center;  font-weight: bold;  font-size: 12pt; }

TABLE.queue { font-family: arial,serif;  font-size: 10pt;  background-color: white;  padding: 2; }
TH.queue { font-family: arial,serif;  font-size: 10pt;  background-color: white;  text-align: left;  background-color: #999797;  color: #DCE5C1; }
.queueOdd { font-family: arial,serif;  font-size: 9pt;  background-color: #DBDBDB; }
.queueEven { font-family: arial,serif;  font-size: 9pt;  background-color: #C4C2C2; }
.queueENABLED { font-family: arial,serif;  font-size: 9pt;  background-color: #33FF00; }
.queueDISABLED { font-family: arial,serif;  font-size: 9pt;  background-color: #F83838; }


