/* vidbox */
div.vidboxContainer {
	position: fixed;
	background: transparent;
	z-index: 100;
}

div.vidbox_ul {
	left: 10px;
	top: 10px
}

div.vidbox_ur {
	right: 10px;
	top: 10px;
}

div.vidbox_ll {
	left: 10px;
	bottom: 10px;
}

div.vidbox_lr {
	right: 10px;
	bottom: 10px;
}

.vidboxTab {
	border: 1px solid var(--border);
	border-bottom: none;
	height: 30px;
	width: 130px;
	position: fixed;
	z-index: 110;
	text-align: center;
	align-content: center;
	background: var(--input);
	color: var(--foreground);
	cursor: pointer;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.vidboxTab_ul {
	left: -55px;
	top: 70px;
	border-radius: 8px 8px 0px 0px;
	transform: rotate(90deg);
	height: 30px;
	line-height: 25px !important;
}

.vidboxTab_ur {
	right: -55px;
	top: 70px;
	border-radius: 8px 8px 0px 0px;
	transform: rotate(270deg);
	height: 30px;
	line-height: 25px !important;
}

.vidboxTab_ll {
	left: -55px;
	bottom: 70px;
	border-radius: 8px 8px 0px 0px;
	transform: rotate(90deg);
	height: 30px;
	line-height: 25px !important;
}

.vidboxTab_lr {
	right: -55px;
	bottom: 70px;
	border-radius: 8px 8px 0px 0px;
	transform: rotate(270deg);
	height: 30px;
	line-height: 25px !important;
}

.vidboxFrame {
	background-color: var(--input);
	color: var(--foreground);
	border: 1px solid var(--border);
	display: none;
	text-align: center;
	border-radius: 8px;
	border-top-left-radius: 0px;
}

.vidboxCancel {
	float: right;
	cursor: pointer;
	padding: 5px 20px 0 0;
	color: var(--secondary-foreground);
}

.vidFrame {
	width: 600px;
}

.vidboxIframe {
	margin-top: 10px;
}

.textFrame {
	margin: 10px;
}

.textFrame a:link,
.textFrame a:visited {
	color: var(--secondary-foreground);
}

.textFrame a:hover,
.textFrame a:active {
	text-decoration: underline;
	color: var(--secondary-foreground);
}