
.notifications { font-family: arial,serif;  background-color: white;  color: black; }

.errorMessage { font-family: arial,serif;  text-align: center;  color: red;  font-weight: bold;  font-size: 12pt; }
.errorDescription { font-family: arial,serif;  text-align: center;  font-weight: bold;  font-size: 12pt; }
.warningMessage { font-family: arial,serif;  text-align: center;  color: red;  font-weight: bold;  font-size: 10pt; }

.infoBox { font-family: arial,serif;  font-size: 8pt;  background-color: #C4C2C2;  padding: 2; }
.infoBoxTitle { font-family: arial,serif;  font-size: 10pt;  font-weight: bold; }
.infoBoxBadProcStatus { color: red; }
A.homepageURL:Hover { font-family: arial,serif;  color: red; }

.linkBox { font-family: arial,serif;  font-size: 8pt;  background-color: #DBDBDB;  padding: 1; }

.dataTitle { font-family: arial,serif;  text-align: center;  font-weight: bold;  font-size: 12pt; }

.navBoxTitle { font-family: arial narrow,serif;  font-size: 10pt;  font-weight: bold; }
.navBoxItem { font-family: arial,serif;  font-size: 8pt;  font-weight: bold;  color: red; }
.navBoxDate { font-family: arial,serif;  font-size: 8pt;  font-weight: bold; }
.navBoxFile { font-family: arial,serif;  font-size: 8pt;  font-weight: bold;  text-align: center; }

.optBox { font-family: arial narrow,serif;  font-size: 10pt;  font-weight: bold; }
.optBoxItem { font-family: arial,serif;  font-size: 8pt;  font-weight: bold;  color: red; }

TABLE.notifications { font-family: arial,serif;  font-size: 10pt;  background-color: white;  padding: 5; }
TH.notifications { font-family: arial,serif;  font-size: 10pt;  background-color: white;  text-align: left;  background-color: #999797;  color: #DCE5C1; }
.notificationsOdd { font-family: arial,serif;  font-size: 8pt;  background-color: #DBDBDB; }
.notificationsEven { font-family: arial,serif;  font-size: 8pt;  background-color: #C4C2C2; }

.notificationsOK { font-family: arial,serif;  font-size: 8pt;  background-color: #33FF00; }
.notificationsUNKNOWN { font-family: arial,serif;  font-size: 8pt;  background-color: #FF9900; }
.notificationsWARNING { font-family: arial,serif;  font-size: 8pt;  background-color: #FFFF00; }
.notificationsCRITICAL { font-family: arial,serif;  font-size: 8pt;  background-color: #F83838; }
.notificationsACKNOWLEDGEMENT { font-family: arial,serif;  font-size: 8pt;  background-color: #AAAAAA; }
.notificationsCUSTOM { font-family: arial,serif;  font-size: 8pt;  background-color: #778899; }

.notificationsHOSTUP { font-family: arial,serif;  font-size: 8pt;  background-color: #33FF00; }
.notificationsHOSTDOWN { font-family: arial,serif;  font-size: 8pt;  background-color: #F83838; }
.notificationsHOSTUNREACHABLE { font-family: arial,serif;  font-size: 8pt;  background-color: #F83838; }
.notificationsHOSTACKNOWLEDGEMENT { font-family: arial,serif;  font-size: 8pt;  background-color: #AAAAAA; }
.notificationsHOSTCUSTOM { font-family: arial,serif;  font-size: 8pt;  background-color: #778899; }

