
.summary { font-family: arial,serif;  background-color: white;  color: black;  font-size: 10pt; }

.errorMessage { font-family: arial,serif;  text-align: center;  color: red;  font-weight: bold;  font-size: 12pt; }
.errorDescription { font-family: arial,serif;  text-align: center;  font-weight: bold;  font-size: 12pt; }
.warningMessage { font-family: arial,serif;  text-align: center;  color: red;  font-weight: bold;  font-size: 10pt; }

.infoBox { font-family: arial,serif;  font-size: 8pt;  background-color: #C4C2C2;  padding: 2; }
.infoBoxTitle { font-family: arial,serif;  font-size: 10pt;  font-weight: bold; }
.infoBoxBadProcStatus { font-family: arial,serif;  color: red; }
A.homepageURL:Hover { font-family: arial,serif;  color: red; }

.linkBox { font-family: arial,serif;  font-size: 8pt;  background-color: #DBDBDB;  padding: 1; }

.reportRange { font-family: arial,serif;  text-align: center;  font-weight: bold;  font-size: 10pt; }
.reportDuration { font-family: arial,serif;  text-align: center;  font-size: 8pt; }
.reportTime { font-family: arial,serif;  text-align: center;  font-size: 8pt; }

.reportDataEven { font-family: arial,serif;  font-size: 8pt;  background-color: #B4B5CC;  padding: 2; }
.reportDataOdd { font-family: arial,serif;  font-size: 8pt;  background-color: #CDCEE9;  padding: 2; }

.dataTitle { font-family: arial,serif;  text-align: center;  font-weight: bold;  font-size: 12pt; }
.dataSubTitle { font-family: arial,serif;  text-align: center;  font-weight: bold;  font-size: 10pt; }

TABLE.data { font-family: arial,serif;  font-size: 10pt;  background-color: white;  padding: 2; }
TH.data { font-family: arial,serif;  font-size: 10pt;  background-color: white;  text-align: left;  background-color: #999797;  color: #DCE5C1; }
.dataOdd { font-family: arial,serif;  font-size: 9pt;  background-color: #DBDBDB; }
.dataEven { font-family: arial,serif;  font-size: 9pt;  background-color: #C4C2C2; }

.hostUP { font-family: arial,serif;  font-size: 9pt;  text-align: left;  background-color: #33FF00; }
.hostDOWN { font-family: arial,serif;  font-size: 9pt;  text-align: left;  background-color: #F83838; }
.hostUNREACHABLE { font-family: arial,serif;  font-size: 9pt;  text-align: left;  background-color: #F83838; }

.serviceOK { font-family: arial,serif;  font-size: 9pt;  text-align: left;  background-color: #33FF00; }
.serviceWARNING { font-family: arial,serif;  font-size: 9pt;  text-align: left;  background-color: #FFFF00; }
.serviceUNKNOWN { font-family: arial,serif;  font-size: 9pt;  text-align: left;  background-color: #FF9900; }
.serviceCRITICAL { font-family: arial,serif;  font-size: 9pt;  text-align: left;  background-color: #F83838; }

.optBox { font-family: arial narrow,serif;  font-size: 10pt;  font-weight: bold; }
.optBoxTitle { font-family: arial,serif;  font-weight: bold;  font-size: 10pt; }
.optBoxItem { font-family: arial,serif;  font-size: 8pt;  font-weight: bold; }
.optBoxValue { font-family: arial,serif;  font-size: 8pt;  font-style: italic; }

.helpfulHint { font-family: arial,serif;  text-align: left;  font-size: 8pt;  font-style: italic;  text-align: center; }

.dateSelectTitle { font-family: arial,serif;  text-align: center;  font-weight: bold;  font-size: 12pt; }
.dateSelectSubTitle { font-family: arial,serif;  text-align: left;  font-weight: bold;  font-size: 10pt; }
.dateSelectItem { font-family: arial,serif;  text-align: left;  font-size: 8pt; }

.reportSelectTip { font-family: arial,serif;  text-align: left;  font-size: 8pt;  font-style: italic; }

.reportSelectTitle { font-family: arial,serif;  text-align: center;  font-weight: bold;  font-size: 12pt; }
.reportSelectSubTitle { font-family: arial,serif;  text-align: right;  font-size: 10pt; }
.reportSelectItem { font-family: arial,serif;  text-align: left;  font-size: 8pt; }

