
	.tac { font-family: arial,serif; background-color: black; background: black; color: white;  background-color: black; }

	.errorMessage { font-family: arial; font-weight: bold; font-size: medium; background-color: black; color: white; }
	.errorDescription { font-family: arial,serif;  text-align: center; font-weight: bold; font-size: medium; }
	.warningMessage { font-family: arial,serif; text-align: center; color: red; font-weight: bold; font-size: small; }

	.infoBox { font-family: arial,serif; font-size: x-small; background-color: #C4C2C2; color: black; padding: 2; }
	.infoBoxTitle { font-family: arial,serif; font-size: small; font-weight: bold; color: black; }
	.infoBoxBadProcStatus {font-family: arial,serif;  color: red; }
	A { font-family: arial,serif; color: black; }
	
	.title { text-align: left; font-family: arial; font-weight: bold; font-size: large; background-color: black; color: white; }
	.titleItem { text-align: left; font-family: arial; font-weight: bold; font-size: x-small; background-color: black; color: white; }
	.infoBoxBadProcStatus { text-align: left; font-family: arial; font-weight: bold; font-size: x-small; background-color: #C4C2C2; color: red; }

	.healthTitle { text-align: left; font-family: arial; font-weight: bold; font-size: small; background-color:  #999797; color: black; }
	.healthBox { text-align: left; font-family: arial; font-weight: bold; font-size: x-small; background-color: #C4C2C2; color: white; }
	.healthItem { text-align: left; font-family: arial; font-weight: bold; font-size: small; background-color: #C4C2C2; color: black; }
	.healthBar { text-align: left; font-family: arial; font-weight: bold; font-size: x-small; background-color: gray; color: white; }

	.perfTitle { text-align: left; font-family: arial; font-weight: bold; font-size: small; background-color:  #999797; color: black; text-decoration: none; }
	.perfBox { text-align: left; font-family: arial; font-weight: bold; font-size: x-small; background-color: #C4C2C2; color: white; }
	.perfItem { text-align: left; font-family: arial; font-weight: bold; font-size: small; background-color: #C4C2C2; color: black; text-decoration: none; }
	.perfValue { text-align: left; font-family: arial; font-size: small; background-color: #C4C2C2; color: black; text-decoration: none; }

	.featureTitle { text-align: left; font-family: arial; font-weight: bold; font-size: small; background-color:  #999797; color: black; }
	.featureHeader { text-align: center; font-family: arial; font-weight: bold; font-size: small; background-color: #C4C2C2; color: black; }

	.featureEnabled { text-align: center; font-family: arial; font-weight: bold; font-size: small; background-color: #ccffcc; color: #8f8f8f; }
	.featureDisabled { text-align: center; font-family: arial; font-weight: bold; font-size: small; background-color: #ffcccc; color: #b3b3b3; }
	
	.featureItemEnabled { text-align: left; font-family: arial; font-size: x-small; background-color: #ccffcc; color: black; }
	.featureItemDisabled { text-align: left; font-family: arial; font-size: x-small; background-color: #ff0000; color: black; }

	.outageTitle { text-align: left; font-family: arial; font-weight: bold; font-size: small; background-color: #999797; color: black; }
	.outageHeader { text-align: center; font-family: arial; font-weight: bold; font-size: small; background-color: #C4C2C2; color: black; text-decoration: none; }

	.outageImportantProblem { text-align: left; font-family: arial; font-size: x-small; background-color: #ff0000; color: black; }
	.outageUnimportantProblem { text-align: left; font-family: arial; font-size: x-small; background-color: #ffcccc; color: black; }
	
	.hostTitle { text-align: left; font-family: arial; font-weight: bold; font-size: small; background-color: #999797; color: black; }
	.hostHeader { text-align: center; font-family: arial; font-weight: bold; font-size: small; background-color: #C4C2C2; color: black; text-decoration: none; }

	.hostImportantProblem { text-align: left; font-family: arial; font-size: x-small; background-color: #ff0000; color: black; }
	.hostUnimportantProblem { text-align: left; font-family: arial; font-size: x-small; background-color: #ffcccc; color: black; }
	
	.serviceTitle { text-align: left; font-family: arial; font-weight: bold; font-size: small; background-color: #999797; color: black; }
	.serviceHeader { text-align: center; font-family: arial; font-weight: bold; font-size: small; background-color: #C4C2C2; color: black; text-decoration: none; }

	.serviceImportantProblem { text-align: left; font-family: arial; font-size: x-small; background-color: #ff0000; color: black; }
	.serviceUnimportantProblem { text-align: left; font-family: arial; font-size: x-small; background-color: #ffcccc; color: black; }

