pkg
subst
pkginfo
Prototype
nagios.SPARC.pkg.tar.gz
autom4te.cache

config.log
config.status
daemon-init
openrc-init
Makefile
tags
.deps/
.libs/

nbproject/
.kdev4/
.settings/
.cproject
.project
*.kdev4

*.o
*.la
*.lo
*.gcda
*.gcno
*.gcov
*.a
*.so
cgi/run*
gmon.out
core.[1-9]*
/Documentation
*.pre-indent
*.swp

html/angularjs/angular-1.3.9
html/angularjs/ui-utils-0.2.1
html/bootstrap-3.3.0
html/d3
html/index.php
